section.development
  .flex.flex--center
    .col-1
      .video-strip
    .col-1.order-first
      p.home-lead.outdented ...learning how to code...
      a(href="https://github.com/twmilli" target="_blank").home-cta See my GitHub
